@page "/"

<PageTitle>Home</PageTitle>



<h3>Desenvolvedor Full-Stack | Experiência Completa em Desenvolvimento Web e Mobile</h3>

<p>Com mais de 15 anos de experiência, sou um desenvolvedor full-stack com um profundo conhecimento em todo o ciclo de desenvolvimento de software. Minha expertise abrange desde o front-end até o back-end, passando por bancos de dados e infraestrutura.

Habilidades técnicas:

Front-end: HTML5, CSS3, JavaScript (ES6+), React, Angular
Back-end: Node.js, Python (Django, Flask), C# (.NET)
Bancos de dados: SQL (MySQL, PostgreSQL), NoSQL (MongoDB)
Infraestrutura: Docker, Kubernetes, AWS, Azure
Versionamento: Git (GitHub, GitLab)
Metodologias: Agile, Scrum
Experiência:

Desenvolvimento de aplicações web: Criação de sites e aplicações web complexas, utilizando as tecnologias mais recentes e melhores práticas de desenvolvimento.
Desenvolvimento de aplicativos mobile: Desenvolvimento de aplicativos nativos e híbridos para iOS e Android, com foco em performance e experiência do usuário.
Análise de dados: Extração, limpeza e análise de grandes volumes de dados para gerar insights e tomar decisões estratégicas.
Integração de sistemas: Integração de diferentes sistemas e APIs para criar soluções completas e eficientes.
Gerenciamento de projetos: Planejamento, execução e entrega de projetos dentro do prazo e do orçamento.</p>
<hr>
<p>Email:cherifbekopanda@gmail.com</p>

